th,td {
  border: 1px solid lightgray;
  border-radius: 2px;
}

.fib-table {
  border-collapse: collapse;
  width: 60%;
  margin: 25px auto;
  border: 1px solid lightgray;
  border-radius: 2px;
}

.left-column {
  width: 150px;
}

.input-field {
  height: 30px;
  font-size: 18px;
  width: 200px;
}